<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <material name="gray">
    <color rgba="0.75 0.75 0.75 1.0"/>
  </material>

  <material name="dark_gray">
    <color rgba="0.35 0.35 0.35 1.0"/>
  </material>

  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
</robot>