<?xml version="1.0"?>
<robot name="mygo" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find mygo_robot_description)/urdf/common_properties.xacro"/>
  <xacro:include filename="$(find mygo_robot_description)/urdf/arm.xacro"/>
  <xacro:include filename="$(find mygo_robot_description)/urdf/gripper.xacro"/>

  <xacro:mygo_arm/>
  <xacro:mygo_gripper/>
</robot>